* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: 1300px auto;
  background-position-x: -500px;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 70px;
  grid-gap: 20px;
}

/* header */

header {
  display: block;
  padding: 10px 15px 0px;
}

header h2 {
  margin: 10px;
  margin-top: 80px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.7em;
  color: aliceblue;
  text-shadow: 0 0 2px black;
}

#date {
  margin: 10px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: aliceblue;
  text-shadow: 0 0 2px black;
}

/* /header */

/* homeScreen */

#homeScreen {
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

ul {
  list-style-type: circle;
}

/* homeScreen - taskToday */

#homeScreen main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

#homeScreen main #toToday {
  margin: 5px auto 5px;
  width: 325px;
  height: fit-content;
  padding: 15px;
  background-color: rgba(127, 127, 127, 0.3);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  transition: scale, backdrop-filter 0.2s, 0.1s;
  box-shadow: 0 0 1px black;
}

#homeScreen main #toToday .heading {
  font-size: 0.9em;
  color: rgb(0, 94, 165);
  margin: 10px;
  left: 10px;
}

#homeScreen main #toToday ul {
  left: 10px;
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}

#homeScreen main #toToday ul li {
  color: rgb(79, 79, 79);
  margin: 10px;
}

#homeScreen main #toToday:active {
  scale: 1.02;
  backdrop-filter: blur(12px);
}

/* homeScreen - otherTask */

#homeScreen main #toDo h3 {
  color: white;
  margin-left: 10px;
  text-shadow: 0 0 2ps black;
}

#homeScreen main #toDo hr {
  color: white;
  width: 50%;
  margin: 10px;
}

#homeScreen main #toDo #toDoList {
  max-height: 150px;
  overflow: scroll;
}

#homeScreen main #toDo #toDoList ul .task {
  background-color: rgba(228, 228, 228, 0.3);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  margin: 5px auto;
  padding: 15px 10px;
  width: 350px;
  height: 35px;
  list-style-type: none;
  color: rgb(246, 246, 246);
}

#homeScreen main #toDo #toDoList ul .task:active {
  scale: 1.02;
  backdrop-filter: blur(12px);
}

.taskObjektiv {
  text-shadow: 0 0 1px black;
  font-size: 1.1em;
}

.day {
  margin-top: 5px;
  font-size: 0.9em;
}

/* /homeScreen */

/* addTaskScreen */

#newTaskForm {
  display: flex;
  flex-direction: column;
  margin: auto 30px;
}

#newTaskForm input {
  margin: 10px;
  height: 40px;
  background-color: rgba(67, 67, 67, 0.3);
  backdrop-filter: blur(2px);
  border: none;
  box-shadow: 0 0 3px black;
  color: white;
  padding: 3px;
  padding-left: 10px;
  font-size: 1.1em;
  transition: all 0.2s;
}

#newTaskForm input:focus:not(input[type="button"]) {
  scale: 1.05;
  backdrop-filter: blur(16px);
}

#newTaskForm input[type="button"]:active {
  backdrop-filter: blur(10px);
  background-color: rgba(43, 43, 43, 0.509);
}

/* /addTaskScreen */

/* footer */
footer #bottomControl {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(45, 45, 45, 0.254);
  backdrop-filter: blur(16px);
  border-radius: 2px;
}

footer #bottomControl button {
  width: 33%;
  height: 100%;
  background-color: transparent;
  border: none;
}

footer #bottomControl button svg {
  transition: fill 0.1s;
}

footer #bottomControl button:active img {
  scale: 1.1;
}
/* /footer */

@media screen and (min-width: 750px) {
  body {
    background-position: top;
    background-size: cover;
    grid-template-rows: auto 120px;
    grid-gap: 50px;
  }
}
